*{
    font-family: "DM Sans", "Open Sans", sans-serif;
}

.header-bg{
    background-image: url('./bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sign-up-bg{
    height: 120vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./sign-up-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cert-application label{
    color: #344054 !important;
}

.cert-application input, .cert-application select{
    outline: none !important;
}